@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-Cormorant: "Cormorant Infant", serif;
  --font-Lato: "Lato", sans-serif;

  --text: oklch(12.97% 0.005 285.67);
  --background: oklch(98.27% 0.003 286.35);
  --primary: oklch(57.76% 0.055 287.09);
  --secondary: oklch(77.29% 0.028 304.73);
  --accent: oklch(69.39% 0.045 312.17);
  --buttonfont: oklch(97.37% 0.003 286.35);

  --d-text: oklch(97.37% 0.003 286.35);
  --d-background: oklch(10.83% 0.007 285.17);
  --d-primary: oklch(52.61% 0.056 286.84);
  --d-secondary: oklch(36.82% 0.034 303.97);
  --d-accent: oklch(45.19% 0.049 311.84);
  --d-buttonfont: oklch(90% 0.02 0);
}

@layer base {
  body {
    @apply bg-(--background) dark:bg-(--d-background) text-(--text) dark:text-(--d-text) transition-colors duration-400;
  }
  h1 {
    @apply font-Cormorant text-7xl;
  }
  h2 {
    @apply font-Lato text-xl font-light text-center;
  }
  h3 {
    @apply font-Cormorant font-medium text-4xl text-center;
  }
  h4 {
    @apply font-Lato font-light text-lg text-center;
  }
  li {
    @apply flex flex-col items-center gap-2;
  }
}

@layer components {
  .divider {
    @apply flex border-1 border-(--text)/10 dark:border-(--d-text)/20 w-full px-4;
  }
  .parent-container {
    @apply flex flex-col max-w-90 w-full items-center m-auto overflow-hidden;
  }
  .navbar {
    @apply fixed flex max-w-90 w-full  h-12 px-4 border-b-1 border-(--text)/10 dark:border-(--d-text)/20 justify-between  items-center text-xl font-semibold transition-colors duration-400 backdrop-blur-sm;
  }
  .mobile-menu {
    @apply flex flex-col fixed  max-w-90 w-full h-screen left-0 right-0 m-auto bg-(--background) dark:bg-(--d-background) font-Cormorant gap-3 p-4 pt-14 text-lg z-9 transition-colors duration-400;
  }
  .custom-link {
    @apply underline;
  }
  .home-section {
    @apply flex flex-col my-8 w-full;
  }
  .footer {
    @apply flex justify-center items-center mt-auto w-full h-24;
  }
}
