@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

body {
  background-color: var(--background);
  color: var(--text);
}

@theme {
  --font-Cormorant: "Cormorant Infant", serif;
  --font-Lato: "Lato", sans-serif;

  --text: oklch(16.37% 0.006 338.04);
  --background: oklch(97.2% 0.002 345.21);
  --primary: oklch(59.6% 0.044 340.84);
  --secondary: oklch(78.94% 0.027 128.85);
  --accent: oklch(71.34% 0.033 155.69);
  --link: oklch(40% 0.2 300);
}

@layer base {
  h1 {
    @apply font-Cormorant text-7xl;
  }
  h2 {
    @apply font-Lato text-xl font-light text-center;
  }
  h3 {
    @apply font-Cormorant font-medium text-4xl text-center;
  }
  h4 {
    @apply font-Lato font-light text-lg text-center;
  }
  li {
    @apply flex flex-col items-center gap-2;
  }
}

@layer components {
  .divider {
    @apply flex border-1 border-(--text)/10 w-full px-4;
  }
  .parent-container {
    @apply flex flex-col max-w-90 w-full items-center m-auto overflow-hidden;
  }
  .navbar {
    @apply fixed bg-(--background) flex max-w-90 w-full  h-12 px-4 border-b-1 border-(--text)/10   items-center justify-between text-xl font-semibold;
  }
  .mobile-menu {
    @apply flex flex-col fixed top-12 max-w-90 w-full h-screen left-0 right-0 m-auto bg-(--background) font-Cormorant gap-3 p-4 text-lg z-9;
  }
  .custom-link {
    @apply underline text-(--link);
  }
  .home-section {
    @apply flex flex-col my-8 w-full;
  }
  .footer {
    @apply flex justify-center items-center mt-auto w-full h-24;
  }
}
