@import "tailwindcss";

* {
  @apply font-satoshi;
}

body {
  background-color: var(--background);
  color: var(--text);
}

@theme {
  --font-satoshi: Satoshi, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --text: oklch(16.37% 0.006 338.04);
  --background: oklch(97.2% 0.002 345.21);
  --primary: oklch(59.6% 0.044 340.84);
  --secondary: oklch(78.94% 0.027 128.85);
  --accent: oklch(71.34% 0.033 155.69);
}

@layer base {
  h1 {
    @apply text-8xl text-center;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-6xl text-center;
  }
}

@layer components {
  /* Add component styles here */
}

@layer utilities {
  /* Add utility styles here */
}
